
 @font-face {
    font-family: "Cairo-Bold";
    src: url("../fonts/Cairo-Bold.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttc");
}
@font-face {
    font-family: "Segoe-UI-Bold";
    src: url("../fonts/Segoe-UI-Bold.ttf");
}

@font-face {
    font-family: "Segoe-UI-Bold";
    src: url("../fonts/Segoe-UI-Bold.ttf");
}

@font-face {
    font-family: "Segoe-UI";
    src: url("../fonts/Segoe-UI.ttf");
}


@font-face {
    font-family: "majallab";
    src: url("../fonts/majallab.ttf");
}


@font-face {
    font-family: "Arial";
    src: url("../fonts/Arial.ttf");
}





