<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center first-column">
                    <div class="parent">                     
                            <h2 data-aos="fade-right"  data-aos-duration="400"   data-aos-delay="200">Grow Your</h2>
                            <h2 data-aos="fade-right" data-aos-duration="600"   data-aos-delay="300">Business</h2>
                            <h2 data-aos="fade-right" data-aos-duration="800"   data-aos-delay="400">With</h2>
                            <h2 data-aos="fade-right" data-aos-duration="1000"  data-aos-delay="500">ProEMCS</h2>
                            <h6 data-aos="fade-right" data-aos-duration="1200"   data-aos-delay="600">Today’s Progress Was Yesterday’s Plan</h6>
                    </div>
            </div>
            <!-- col -->
            <div class="col-md-6 d-flex align-items-center second-column">
                <div class="parent">
                    <img  data-aos="fade-left"  data-aos-duration="800"   data-aos-delay="300" src='assets/imgs/home.png' alt='' />
                </div>
            </div>
            <!-- col -->
        </div>
    </div>
</section>