<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center first-column">
        <div class="parent">
          <ul class="all list-unstyled">
            <li data-aos="fade-right" data-aos-duration="400" data-aos-delay="200">
              <div class="allItem">
                <i class='fa fa-map-marker'></i>
                <h5>7 Mohamed Tawfik Diab St.,Makram Ebeid, Office No 20 Nasr City, Cairo, Egypt</h5>
              </div>
            </li>
            <li data-aos="fade-right" data-aos-duration="400" data-aos-delay="300">
              <div class="allItem">
                <i class='fa fa-phone'></i>
                <a href="tel:+20 112 4269 532">+2 02 2271 6126</a>
              </div>
            </li>
            <li data-aos="fade-right" data-aos-duration="400" data-aos-delay="400">
              <div class="allItem">
                <i class='fa fa-envelope'></i>
                <a href="mailto:info@proemcs.com">info@proemcs.com</a>
              </div>
            </li>
            <li data-aos="fade-right" data-aos-duration="400" data-aos-delay="500">
              <div class="allItem">
                <i class='fa fa-globe'></i>
                <a href="https://www.proemcs.com/" target='_blank'>www.proemcs.com</a>
              </div>
            </li>
            <li data-aos="fade-right" data-aos-duration="400" data-aos-delay="600">
              <div class="allItem">
                <i class='fa fa-facebook'></i>
                <a href="https://www.facebook.com/Proemcs" target='_blank'>www.facebook.com/Proemcs</a>
              </div>
            </li>
            <li>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.091364392404!2d31.337266842508846!3d30.06291549128088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e6e83827e11%3A0x9c48f8de6eee83b0!2s7%20Mohammed%20Tawfik%20Diab%2C%20Al%20Manteqah%20as%20Sadesah%2C%20Nasr%20City%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1578559290667!5m2!1sen!2seg"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </li>
          </ul>
          <div>

          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-md-8 text-center d-flex align-items-center second-column" data-aos="fade-left" data-aos-duration="400" data-aos-offset="100" data-aos-delay="200">
        <div class="parent"  >
          <img class='contact' src='assets/imgs/contact.png' alt='' />
        </div>
      </div>
      <!-- col -->
    </div>
  </div>
</section>
