<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6  d-flex align-items-center first-column">
                    <div class="parent">
                            <h3  data-aos="fade-right"  data-aos-duration="400"   data-aos-delay="200" class="font-wight-bold">About Us</h3>
                            <p  data-aos="fade-right"  data-aos-duration="450"   data-aos-delay="250">Proemcs is a professional software services provider delivering business solutions to its clients in GULF area.</p>
                            <p  data-aos="fade-right"  data-aos-duration="500"   data-aos-delay="300">Building on its partnerships with Microsoft, IBM and other leading technology vendors, Proemcs provides a portfolio of information technology, applications and business process outsourcing services starting from Education, to Government and Medical Services.</p>
                            <p  data-aos="fade-right"  data-aos-duration="550"   data-aos-delay="350">Proemcs strives to provide the highest quality service and maintain customer trust while continuing to add real value to the business.</p>
                        </div>
            </div>
            <!-- col -->
            <div class="col-md-6  d-flex align-items-center second-column">
                <div class="parent">
                    <img  data-aos="fade-left"  data-aos-duration="800"   data-aos-delay="300" src='assets/imgs/about.png' alt='' />
                </div>
        </div>
        <!-- col -->
        </div>
    </div>
</section>