<section class="our-client">
        <div class="container">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center first-column">
              <div class="row">
                <div  class="col-md-4 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client1-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="100" />
                  </div>
                </div>
                <!-- col-4 -->
                <div class="col-md-4 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client2-min.png"  data-aos="fade-right" data-aos-duration="400" data-aos-delay="200"  />
                  </div>
                </div>
                <!-- col-4 -->
                <div class="col-md-4 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client3-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="300"  />
                  </div>
                </div>
                <!-- col-4 -->
                <div  class="col-md-4 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client4-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="400" />
                  </div>
                </div>
                <!-- col-4 -->
                <div  class="col-md-4 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client5-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="500" />
                  </div>
                </div>
                <!-- col-4 -->
                <div  class="col-md-4 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client6-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="600" />
                  </div>
                </div>
                <!-- col-4 -->
                <div  class="col-md-6 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client7-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="700" />
                  </div>
                </div>
                <!-- col-6 -->
                <div  class="col-md-6 col-sm-6 col-xs-6  text-center">
                  <div class="parent">
                    <img src="assets/imgs/client8-min.png" data-aos="fade-right" data-aos-duration="400" data-aos-delay="800" />
                  </div>
                </div>
                <!-- col-6 -->
              </div>
              <!-- row2 -->
            </div>
            <!-- col -->
            <div class="col-md-6 d-flex align-items-center second-column">
              <div class="parent">
                <img class="img-present" src="assets/imgs/client.png" />
              </div>
            </div>
      
          </div>
        </div>
      </section>
      