@import '../../../assets/style/variables.scss';
footer {
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            display: inline-flex;
            margin: 0 10px;
            a {
                color:$primaryColor;
                font-size: 20px;
                text-decoration: none;
            }
          
        }
    }
}


@media(max-width:768px) {
    footer {
        display: none;
    }
}